@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

.instrument-serif-regular {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .instrument-serif-regular-italic {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
  
/* Header */

header{
    background-color: #048A81;
    padding: 0;
    margin: 0;
    height: 10vh;
    width: auto;
}

.navTarto{
    float: right;
    margin: 3vh 1vw;
    padding: 17px 25px;
    width: 12vw;
    height: 0.1vh;
    background-color: #034F4B;
}

.navGombok{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
}

#udvozlo
{
    width: 100%;
    height: 100%;
}

html{
    margin: 0;
    padding: 0;
}

body{
    height: auto;
    margin: 0;
    padding: 0;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #023B38;
    scroll-behavior: smooth;
}

/* MD Overlay */

#opencloseOverlay{
  border: none;
  background: none;
  position: absolute;
  right: 3vw;
  top: 1vh;
  width: 30px;
  height: 35px;
  rotate: 0deg;
  z-index: 91;
  animation: none;
}

#opencloseOverlay > img{
  height: inherit;
  width: inherit;
}

.overlayElementsDivMD{
    position: relative;
    width: 100%; 
    text-align: center; 
    margin-top: 30px;
}

#overlayMD{
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 90;
  left: 0;
  top: 0;
  background-color: rgb(1, 43, 40);
  background-color: rgba(0, 37, 35, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#overlayMD > a{
    position: relative;
    width: 20%;
    margin: 0 auto;
    top: 5%;
    background-color: #034F4B;
    padding: 2%;
}

#overlayMD > a > img{
    width: 100%;
}

.overlayButton{
  padding: 3% 0;
  background-color: #034F4B;
  margin: 5vh 3vw;
  text-decoration: none;
  font-size: 50px;
  color: white;
  display: block;
  transition: 0.3s;
}

#overlayMDPaused{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  cursor: pointer;
}

#overlayPauseLines{
  width: 10%;
  margin: auto auto;
}

#overlayMDText{
  font-size: 120px;
  color: white;
  margin: auto auto
}



/* SM overlay */
#overlaySM{
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 93;
  left: 0;
  top: 0;
  background-color: rgb(15, 20, 37);
  background-color: rgba(15, 20, 37, 0.85);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlayButtonSM{
  padding: 4% 0;
  background-color: #034F4B;
  margin: 5vh 2vw;
  text-decoration: none;
  font-size: 52px;
  color: white;
  display: block;
  transition: 0.3s;
}

#overlayPauseLinesSM{
  width: 25%;
  margin: 0 auto;
}

#opencloseOverlaySM{
  border: none;
  background: none;
  position: absolute;
  right: 3vw;
  top: 1vh;
  width: 50px;
  height: 55px;
  rotate: 0deg;
  z-index: 99;
  animation: none;
}

#opencloseOverlaySM > img{
  height: inherit;
  width: inherit;
  margin-top: 2vh;
}

#overlaySM{
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 95;
  left: 0;
  top: 0;
  background-color: rgb(1, 43, 40);
  background-color: rgba(0, 37, 35, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#overlaySM > a{
    position: relative;
    width: 20%;
    margin: 0 auto;
    top: 5%;
    background-color: #034F4B;
    padding: 2%;
}

/* Filter SM Gomb*/
#filterSM{
    display: none;
    position: fixed;
    top: 50%;
    width: 15%;
    height: 9%;
    padding: 15% 0;
    background: #048A81;
    background: linear-gradient(90deg,rgba(4, 138, 129, 1) 0%, rgba(4, 138, 129, 0) 100%);
    cursor: pointer;
    z-index: 94;
}

#filterSMSVG{
    position: relative;
    width: 100%;
    rotate: 270deg;
    height: 8vh;
}

/*  Overlay Animations  */
@keyframes quarterSpinForw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}

@keyframes quarterSpinBack {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform:  rotate(0deg);
  }
}

@keyframes resetAnim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes halfSpinForw {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-180deg);
  }
}

@keyframes halfSpinBack {
  from {
    transform: rotateX(-180deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

/* Filterek */ 

a + a{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    text-decoration: none;
    padding: 5%;
    color: white;
    font-size: 2vw;
    background-color: #048A81;
}

aside h2{
    text-align: center;
    background-color: #048A81;
    padding: 5%;
    margin: 15%;
}

#headerLeft > img{
    width: 10vh;
    background-color: #034F4B;
    border-radius: 10px;
    padding: 0.25vh;
    margin: 1vh 1vw;
}

/* Main section */

.osszefogo{
    display: flex;
    flex-direction: row;
    margin: 5vh 1vw;
}

.osszefogo > div{
    margin: 0vh 5vw;
    height: 100%;
    padding: 25px;
    width: 50%;
}

.osszefogo > img{
    height: 50vh;
    width: auto;
    padding: 5%;
    margin: auto auto;
}

.szoveg{
    text-align: center;
    background: rgb(4,138,129);
    background: linear-gradient(0deg, rgba(4,138,129,1) 0%, rgb(0, 198, 185) 100%);
    font-size: 130%;
    padding: 5%;
    margin: 1%;
    width: 35%;
}

.osszefogoMiddler{
    margin: 2vh auto;
}

p.osszefogoMiddler{
    width: 75%;
    height: 5%;
    padding: 1%;
    background: rgb(4,138,129);
    background: linear-gradient(45deg, rgb(0, 33, 31) 0%, rgb(9, 100, 94) 100%);
    color: rgb(111, 254, 223);
}

#filterek{
    background-color: #034F4B;
    height: auto;
    width: 25%;
    color: white;
    margin-top: -5px;
    display: flex;
    flex-direction: column;
}

#filterek a{
    width: 40%;
}

#filterek .nagy_link{
    width: 60%;
}

aside div{
    margin: 10vh 0;
}

#jelentkezes{
    position: relative;
    text-align: center;
    background-color: #048A81;
    width: 50%;
    margin: 15vh auto;
    padding: 5%;
    font-size: 200%;
}

.div4{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.div2{
    display: flex;
    flex-direction: row;
}

#bevezeto{
    padding: 1%;
    margin: 8vh auto;
    background-color: #048A81;
    width: 75%;
    height: auto;
    text-align: center;
}

.nagy_link{
    text-align: center;
    background-color: #048A81;
    padding: 5%;
    margin: 15%;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    unicode-bidi: isolate;
}
/* Footer */
footer{
    height: 20vh;
    width: 100%;
    background: rgb(4,138,129);
    background: linear-gradient(145deg, rgba(4,138,129,1) 0%, rgba(0,83,77,1) 100%);
}

footer p{
    line-height: 20px;
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 1% 0;
}

#kapcsolatfelvetel{
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 10vh);
}

#kapcsolatfelvetel > div{
    background-color: rgba(3, 79, 75, 0.5);
    padding: 5%;
}

.grid_sec1 {
    grid-row: span 2 / span 2;
    border-right: black solid 5px;
    border-left: black solid 5px;
}

.grid_sec1 > p{
    margin: 8vh 0;
}

.grid_sec2 {
    grid-column-start: 2;
    border-right: black solid 5px;
}

.grid_sec3{
    border-top: black solid 5px;
    border-right: black solid 5px;
}

/* Header fix */ 
@media only screen and (max-width: 1000px){
    .navGombok{
        font-size: 1.8vw;
    }
}

/* MD */

@media only screen and (min-width: 769px){
  #opencloseOverlay{
    display: none;
  }
}


@media only screen and (max-width: 768px) {
    .navTarto{
        display: none;
    }

    .navGombok, .navTarto{
        display: none;
    }

    .navMD{
        display: block;
    }

    #felgorgGomb{
        width: 3.6rem;
        height: 3.5rem;
    }

    #filterek{
        width: 40%;
    }

    #filterek a{
        width: 60%;
        padding: 1%;
    }

    #filterek .nagy_link{
        width: 70%;
        padding: 1%;
    }

    #filterek > div{
        margin: 1% 0;
    }
}
@media only screen and (max-width: 1310px) {
    footer p{
        font-size: 20px;
    }
}

/* SM */

@media only screen and (min-width: 577px) {
  #opencloseOverlaySM{
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  #opencloseOverlay{
    display: none;
  }

  #kapcsolatfelvetel{
    width: 100%;
  }

  footer p{
    font-size: 15px;
  }

  #filterek{
    display: none;
    position: fixed;
    top: 5px;
    background-color: #034F4B;
    height: 100%;
    width: 100%;
    color: white;
    flex-direction: column;
  }

  #filterek a{
    margin: 6% auto;
  }

  .div4{
    width: 100%;
  }

  #filterSM{
    display: block;
  }

  a + a{
    font-size: 5vw;
  }
}